<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoPaper"
        tools:targetApi="31">
        <activity
            android:name=".Pick_Up1"
            android:exported="false" />
        <activity
            android:name=".Pick_Up_Home"
            android:exported="false" />
        <activity
            android:name=".Pick_Up2"
            android:exported="false" />
        <activity
            android:name=".Pick_Up3"
            android:exported="false" />
        <activity
            android:name=".SaldoActivity"
            android:exported="false" />
        <activity
            android:name=".BantuanActivity"
            android:exported="false" />
        <activity
            android:name=".Notifikasi_Activity"
            android:exported="false" />
        <activity
            android:name=".ActivityKomentar"
            android:exported="false" />
        <activity
            android:name=".ActivityTipsTrick"
            android:exported="false" />
        <activity
            android:name=".ActivityDetailKegiatan"
            android:exported="false" />
        <activity
            android:name=".ActivityKegiatan"
            android:exported="false" />
        <activity
            android:name=".ActivityUmum"
            android:exported="false" />
        <activity
            android:name=".Form_Register"
            android:exported="false" />
        <activity
            android:name=".Form_Login"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".edit_profile_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>